csiDriver:
  name: {{ truenas_csi_nfs_driver_name }}
storageClasses:
- name: {{ truenas_csi_nfs_storage_class_name }}
  defaultClass: {{ truenas_csi_nfs_storage_class_is_default }}
  reclaimPolicy: {{ truenas_csi_nfs_reclaim_policy }}
  volumeBindingMode: Immediate
  allowVolumeExpansion: true
  parameters:
    fsType: nfs
    detachedVolumesFromSnapshots: "false"
  mountOptions: {{ truenas_csi_nfs_mount_options }}
  secrets:
    provisioner-secret:
    controller-publish-secret:
    node-stage-secret:
    node-publish-secret:
    controller-expand-secret:
volumeSnapshotClasses: []
# - name: {{ truenas_csi_nfs_volume_snapshot_class_name }}
#   parameters:
#     detachedSnapshots: "true"
driver:
  config:
    driver: freenas-api-nfs
    instance_id:
    httpConnection:
      protocol: {{ truenas_csi_nfs_api_protocol }}
      host: {{ truenas_csi_nfs_api_host }}
      port: {{ truenas_csi_nfs_api_port }}
      apiKey: {{ truenas_csi_nfs_api_key }}
      allowInsecure: {{ truenas_csi_nfs_api_allow_insecure }}
      apiVersion: {{ truenas_csi_nfs_api_version }}
    zfs:
      datasetParentName: {{ truenas_csi_nfs_dataset_volumes_name }}
      detachedSnapshotsDatasetParentName: {{ truenas_csi_nfs_dataset_snapshots_name }}
      datasetEnableQuotas: {{ truenas_csi_nfs_dataset_permissions_enable_quotas }}
      datasetEnableReservation: {{ truenas_csi_nfs_dataset_permissions_enable_reservation }}
      datasetPermissionsMode: {{ truenas_csi_nfs_dataset_permissions_mode }}
      datasetPermissionsUser: {{ truenas_csi_nfs_dataset_permissions_user }}
      datasetPermissionsGroup: {{ truenas_csi_nfs_dataset_permissions_group }}
    nfs:
      shareHost: {{ truenas_csi_nfs_share_host }}
      shareAlldirs: {{ truenas_csi_nfs_share_all_dirs }}
      shareAllowedHosts: {{ truenas_csi_nfs_share_allowed_hosts }}
      shareAllowedNetworks: {{ truenas_csi_nfs_share_allowed_networks }}
      shareMaprootUser: {{ truenas_csi_nfs_share_maproot_user }}
      shareMaprootGroup: {{ truenas_csi_nfs_share_maproot_group }}
      shareMapallUser: {{ truenas_csi_nfs_share_mapall_user }}
      shareMapallGroup: {{ truenas_csi_nfs_share_mapall_group }}

controller:
  driver:
    image:
      tag: {{ truenas_csi_nfs_driver_image_tag }}
