---
apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  name: {{ ca_cert_name }}-cluster-issuer-key
  namespace: {{ ca_cert_namespace }}
data:
  tls.crt: {{ ca_cert_existing_crt }}
  tls.key: {{ ca_cert_existing_key }}
